doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title WS/SSO test
    script(src="https://code.jquery.com/jquery-3.4.1.slim.js")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
  body
    .container
      .row.mt-4
        .col.d-flex
          button.btn.btn-primary.mx-auto(onclick="xmlHttpRequest()") XmlHTTPRequest
        .col.d-flex
          button.btn.btn-primary.mx-auto(onclick="fetchRequest()") fetch
        .col.d-flex
          button.btn.btn-primary.mx-auto(onclick="wsRequest()") WebSocket
        .col.d-flex
          button.btn.btn-primary.mx-auto(onclick="wsRequestSync()") WebSocket Sync
      .row.mt-2#info
      .row.mt-2
        .ul.text-danger#errors
    script.
      var COUNT = 100;
      var errDiv = $('#errors');
      var infoDiv = $('#info');

      function progress(message) {
        infoDiv.text(message);
      }
      function error(err) {
        console.log(err)
        $('<li />').text(err.message || err).appendTo(errDiv);
      }

      function xmlHttpRequest() {
        progress('Preparing XmlHTTPRequests');
        var done = 0;
        for (var i = 0; i < COUNT; ++i) {
          let nb = i;
          var xhttp = new XMLHttpRequest();
          xhttp.onload = function() {
            if (this.readyState === 4 && this.status === 200) {
              progress('Request ' + (++done) + '/' + COUNT);
            }
          }
          xhttp.open('GET', '/api?req=' + nb, true);
          xhttp.send();
        }
      }

      function fetchRequest() {
        progress('Preparing fetch requests');
        var done = 0;
        for (var i = 0; i < COUNT; ++i) {
          let nb = i;
          fetch('/api?req=' + nb)
          .then(
            () => progress('Request ' + (++done) + '/' + COUNT),
            (err) => error(err)
          );
        }
      }


      function wsProtocol() {
        return window.location.protocol.startsWith('https') ? 'wss://' : 'ws://';
      }

      function wsRequestSingle() {
        progress('Preparing WebSocket requests');
        var done = 0;
        var ws = new WebSocket(wsProtocol() + window.location.host + '/api');
        ws.onopen = () => {
          progress('WebSocket opened');
          for (var i = 0; i < COUNT; ++i) {
            let nb = i;
            ws.send('request' + nb);
          }
        }
        ws.onerror = () => error('WebSocket error');
        ws.onmessage = () => {
          progress('Request ' + (++done) + '/' + COUNT);
          if (done === COUNT) { ws.close(1000); }
        };
      }

      /* creating a lot of websockets on purpose */
      function wsRequest() {
        progress('Preparing WebSocket requests');
        var done = 0;
        for (var i = 0; i < COUNT; ++i) {
          let ws = new WebSocket(wsProtocol() + window.location.host + '/api');
          ws.onopen = () => ws.send('request');
          ws.onerror = () => error('WebSocket error');
          ws.onmessage = () => {
            progress('Request ' + (++done) + '/' + COUNT);
            ws.close(1000);
          };
        }
      }

      function wsRequestSync() {
        progress('Preparing WebSocket requests');
        var done = 0;
        var i = 0;

        function wsRequestSync() {
          var ws = new WebSocket(wsProtocol() + window.location.host + '/api');
          ws.onopen = () => {
            if (++i < COUNT) {
              wsRequestSync();
            }
            ws.send('request');
          }
          ws.onerror = () => error('WebSocket error');
          ws.onmessage = () => {
            progress('Request ' + (++done) + '/' + COUNT);
            ws.close(1000);
          };
        }
        wsRequestSync();
      }
